.u-section-1 .u-sheet-1 {
  min-height: 424px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-products-1 {
  margin-top: 12px;
  margin-bottom: 48px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 328px;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 19px;
}

.u-section-1 .u-image-1 {
  height: 272px;
  filter: brightness(0.65);
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-family: Lato;
  font-weight: 700;
  background-image: none;
  margin: -152px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 19px;
}

.u-section-1 .u-container-layout-3 {
  padding: 26px 19px;
}


.u-section-1 .u-container-layout-4 {
  padding: 26px 19px;
}

.hamburger-respon{
  margin-left: 150%;
}




/* Responsive 2 */
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .profile-respon-2{
    margin-top: 8%;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-products-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -128px;
    margin-bottom: 100px;
  }

  .nav-respon{
    margin-left: 11.3%;
  }

  .nav-respon li {
    width: 19.6%;
  }

  .li-respon-2{
    margin: -10%;
  }
}

/* Responsive  3 */
@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }
  
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -190px;
    margin-bottom: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .hamburger-respon{
    margin-left: 310%;
  }
}

/* Responsive 4 */
@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .hamburger-respon{
    margin-left: 500%;
  }
  
  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -300px;
    margin-bottom: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 200px;
  }
}

/* Responsive 5 */
@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-top: -191px;
    margin-right: 1px;
    margin-bottom: 163px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .hamburger-respon{
    margin-left: 350%;
  }
  
}