.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 100px;
}
.dropdown-child a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown-child a:hover{
    color: white;
    background-color: black;
}
.dropdown:hover .dropdown-child {
    display: block;
}